<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rank</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body class="rank-page">
  <div class="container">
    <h1>Waitlist Rankings</h1>
    <table id="rankTable">
      <thead>
        <tr>
          <th>Position</th>
          <th>Name</th>
          <th>Email</th>
          <th>Referral Code</th>
          <th>Referred Persons</th>
        </tr>
      </thead>
      <tbody id="rank-table-body">
        <!-- Rankings will be dynamically added here -->
      </tbody>
    </table>
    <div class="back">
      <p>Want to make another Pre-Order</p>
      <p>-></p>
      <a href="/">Click Here</a>
    </div>
  </div>
</body>

</html>